:root {
  --green: forestgreen;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow-x: hidden;
}

.form {
  display: table;
  position: absolute;
  top: 50vh;
  margin-left: 70vw;
}

.form > div {
  display: table-row;
  margin-top: 1rem;
}

.form button {
  border: solid black 1px;
  padding: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 2rem;
}

.error {
  border: solid black 1px;
  width: 100%;
  color: red;
  text-align: center;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.form button:hover,
.prev-year:hover,
.next-year:hover {
  transition: all 0.1s;
  background-color: black;
  color: white;
  cursor: pointer;
}

.form > div > input,
.form > div > span {
  display: table-cell;
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

.form > div > input:focus {
  border: solid 1px #c0c0c0;
  opacity: 0.8;
}

.notch {
  font-size: 4rem;
  color: red;
}

.timeline {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  width: 95%;
  text-transform: capitalize;
}

input::placeholder {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 1.2rem;
}
input {
  padding-left: 0.6rem;
}

.timeline .timeline-event {
  padding: 1rem;
}

.month {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  flex: 1 1 0px; /* make all flex items grow to the same proportion*/
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.month:hover {
  border-bottom: solid lightgrey 3px;
}

.year-control {
  display: flex;
  margin-top: 10rem;
  justify-content: space-evenly;
}

.current-year {
  padding: 1rem;
}

.prev-year {
  padding: 1rem;
  border: solid black 1px;
}

.next-year {
  padding: 1rem;
  border: solid black 1px;
}

.current-month-true {
  border-bottom: solid grey 3px;
  font-weight: bold;
}

button {
  padding: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.events {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 60vw;
  border-radius: 16px;
  padding: 2rem;
}

.delete {
  opacity: 0;
}

.delete:hover,
.selected-true {
  display: inline-block;
  margin: 0 1rem;
  opacity: 1;
  visibility: visible;
  color: red;
  cursor: pointer;
}

.edit-false {
  cursor: pointer;
}

.edit-true {
  cursor: pointer;
}
